#product_list_left,
#charts_wrapper,
.dj_equipment_navigation_contents,
#chart_left,
#chart_right,
#play_all_productlist_default_file_type,
#mxc_selected,
.mxc_selected_txt,
#topbar_bread,
.jc-top .jc-description,
.jc-top .jc-actions,
#sale_img {
  display: none !important;
}
#product_list_right {
  float: none;
  margin: 0 auto;
}
div#olark + div,
div#olark + div > div {
  width: inherit !important;
}
#nav {
  min-width: inherit !important;
}
#chart_center,
#product_list_main {
  margin:0 auto;
}
#chart_center {
	width: 507px;
}
.product-list .arp_selected {
  background-color: #f1f1f1;
  border: 1px solid lightGrey;
}
.product-list .arp_selected,
.product-list .arp_selected .known_time {
  color: black;
}
.juno-chart h2 {
    text-transform: capitalize;
}
#dj_chart_micro_player {
	margin-top: 20px;
}
#tlEditor {
	width: inherit !important;
}
.jc-top .jc-image,
.jc-top .jce-image {
	width: 120px !important;
}
@media (max-width: 767px) {
  .jc-top .jc-image {display:none}
}
.jc-top {
	min-height: inherit !important;
}
.juno-chart .juno-box-grey {
	padding-top: 0;
	padding-bottom: 0;
}
@media (min-width: 768px) {
  .jc-top .h-new {
    padding-top: 10px;
  }
}
