/*
 * Basics
 */
body {
	font-size: .8rem !important;
}
header + MuiBox-root,
.MuiGrid-container {
	width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.MuiDataGrid-root,
.MuiDataGrid-root--densityStandard {
	width: auto !important;
	min-width: auto !important;
	display: inherit !important;
}
.second-vertical-divider,
.ads-wide-screen,
button.export-btn:nth-of-type(2),
.MuiRating-root {
	display: none !important;
}
.MuiGrid-item,
.music-track-data-grid #tlEditor {
	padding: 0 !important;
}
a:hover {
	cursor: pointer !important;
}
#pageCheckDelete,
.mdb-footer-link:visited {
	color: var(--main-light) !important;
}
#mw-audiostream-player {
	margin: 30px 0 20px;
}
.mdb-rating-wrapper {
    margin-top: 2rem;
}
/*
.MuiBox-root {
    margin-bottom: 0 !important;
}
*/
.MuiToggleButtonGroup-root {
	display: none !important;
}
/*
 * Play button
 */
#mw-audiostream-player + .MuiStack-root {
    display: none;
}
.music-track-data-grid {
	margin-top: -35px;
}


/*
 * Tables
 */
.mdb-hide,
.MuiDataGrid-toolbarContainer {
	display: none !important;
}
.MuiDataGrid-root,
.MuiDataGrid-footerContainer {
	border: 0 !important;
}
.MuiDataGrid-columnHeader.yt-row {
    width: 37px !important
}
#mdb-trackidnet-table {
	/* width: 100%; */
	border-collapse: collapse;
	margin-bottom: 10px;
}
#mdb-trackidnet-table th,
#mdb-trackidnet-table td {
	border: 1px solid rgba(255, 255, 255, 0.12);
	border-right: 0;
	border-left: 0;
	padding: 6px 8px;
}
#mdb-trackidnet-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	white-space: nowrap;
	color: #ddd;
}
#mdb-trackidnet-table td {
	vertical-align: middle;
}
#mdb-trackidnet-table td.AudioStreamType img {
	padding-top: 5px;
	max-height: 2em;
}
#mdb-trackidnet-table.MyRequests td.AudioStreamType {
	padding-top: 2px;
	padding-bottom: 2px;
}
#mdb-trackidnet-table td.title {
	font-size: 14px;
}
#mdb-trackidnet-table td.title a,
.mdb-topBar-link {
	color: rgb(144, 202, 249);
}
#mdb-trackidnet-table td.title a:hover {
	text-decoration: underline;
}
#mdb-trackidnet-table td.title a:visited {
	color: var(--main-light);
}
#mdb-trackidnet-table td.AudioStreamType {
	min-width: 38px;
}
/* hide columns */
#mdb-trackidnet-table.TracklistSearch th:first-of-type, /* stream site, keep on My Request */
#mdb-trackidnet-table.TracklistSearch td.AudioStreamType,
#mdb-trackidnet-table th#Index,
#mdb-trackidnet-table td.index,
#mdb-trackidnet-table th#Duration,
#mdb-trackidnet-table td.duration,
#mdb-trackidnet-table th#CreatedOn,
#mdb-trackidnet-table td.createdOn,
#mdb-trackidnet-table th#Details,
#mdb-trackidnet-table td.details,
#mdb-trackidnet-table.MyRequests th#RequestedBy,
#mdb-trackidnet-table.MyRequests td.addedBy
/* there can be other status selctions
#mdb-trackidnet-table.TracklistSearch th#Status,
#mdb-trackidnet-table.TracklistSearch td.status
*/
{
	display: none;
}
#mdb-trackidnet-table.myrequests th#play,
#mdb-trackidnet-table.myrequests th#duration,
#mdb-trackidnet-table.myrequests th#createdOn,
#mdb-trackidnet-table.myrequests th#details,
#mdb-trackidnet-table.audiostreams th#play,
#mdb-trackidnet-table.audiostreams th#duration,
#mdb-trackidnet-table.audiostreams th#createdOn,
#mdb-trackidnet-table.audiostreams th#details {
    display: none !important;
}

/*
 * mdbSearchLink
 */
#mwSearchLink-detailPage {
	padding-left: 13px;
}
.mwSearchLink-list img {
	margin-top: 12px !important;
}
.mwSearchLink-list.active,
.mwSearchLink-list.visited,
.mwSearchLink-list:visited  {
	opacity: .38;
}

/*
 * page navigation
 */
.MuiToolbar-regular .header-right {
	width: inherit !important;
}
.MuiTablePagination-toolbar,
.MuiTablePagination-toolbar > p,
.MuiTablePagination-toolbar > div {
	display: inline !important;
	position: inherit !important;
	padding-left: 0;
}

/*
 * Menu to top bar and app-footer
 */
.search-bar {
	max-width: calc( 100vw - 850px ) !important;
}
.account-username {
	padding-left: 5px !important;
}
.account-username div:first-of-type  {
	display: none;
}
.mdb-topBar-link {
	color: white;
	text-decoration: none;
	padding-right: 10px;
    text-align: center;
}
.app-footer * {
	font-size: .8rem !important;
	text-decoration: none !important;
}
.mdb-footer-link {
	margin-left: 10px;
}

/*
 * check feature
 */
.mdb-checked-icon {
	height: 19px;
	width: auto;
}
#mdb-trackidnet-table .mdb-checked-icon {
	padding-top: 3px;
}
#pageInfoTable {
	font-size: 16px;
}
.pageCheckSave-text span {
	font-size: 13px;
}
.pageInfoTable-label {
	font-weight: bold;
	padding-right: 10px;
}
#mixesdbPageCheck .check-ok {
	font-weight: bold;
	color: rgb(139, 204, 71);
}
#mixesdbPageCheck .check-ok .mdb-checked-icon {
	height: 17px;
}
#pageCheckSave {
	height: 14px;
	cursor: pointer !important;
	transform: scale(1.4);
}
.pageCheckSave-text {
	padding-left: 5px;
}
#pageCheckDelete {
	text-decoration: none;
	opacity: 0;
	padding-right: 15px; /* more hover space */
}
#mixesdbPageCheck .check-ok:hover #pageCheckDelete {
	opacity: 1;
}

/*
 * searchHint
 */
#mdb-searchHint {
	display: inline-block;
	margin-top: 10px;
	padding: 10px  15px;
	background-color: #f60;
	font-weight: bold;
	font-size: 14px;
}
#mdb-searchHint,
#mdb-searchHint a {
	color: white;
}
#mdb-searchHint p {
	margin: 0;
}

/*
 * Replaced search
 */
#replaced-search .mixeswiki-element {
	min-height: 28px;
}
#replaced-search .replaced-search-input {
	min-width: calc( 94vw - 500px );
}
